.vector-top {
    position: absolute;
    left: 0;
    top: 0;
}

.page01 {
    margin-top: 157px;
}

.logo-icon {
    display: block;
    margin: 0 auto;
    width: 77px;
    img {
        width: 100%;
    }
}

.welcome-subtitle {
    margin-top: 16px;
    padding: 0 20px;
    text-align: center;
    color: $main-color;
}

.welcome-title {
    text-align: center;
    margin-top: 12px;
    padding: 0 20px;
    color: $second-color;
}

.dropdown {
    position: relative;
    margin-top: 13px;
    width: 278px;
    height: 60px;
    left: 50%;
    transform: translate(-50%);

    input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        border: 2px solid $inactive-blue;
        border-radius: 8px;
        outline: none;
        padding: 21px 0 22px 14px;
        color: $second-color;
    }

    input::placeholder {
        color: $second-color;
    }

    .option {
        position: absolute;
        top: 72px;
        width: 100%;
        border: 2px solid $inactive-blue;
        border-radius: 8px;
        overflow: hidden;
        display: none;
        max-height: 128px;
        overflow-y: auto;

        div {
            padding: 21px 0 22px 14px;
            color: $second-color;
            cursor: pointer;
        }
        
        div:hover {
            background: $inactive-blue;
            color: $white;
        }
    }

    .option::-webkit-scrollbar {
        width: 8px;
    }

    .option::-webkit-scrollbar-track {
        background: $inactive-blue;
        border-radius: 8px;
    }

    .option::-webkit-scrollbar-thumb {
        background: $second-color;
        border-radius: 8px;
    }
}

.dropdown::before {
    content: '';
    position: absolute;
    right: 22px;
    top: 20px;
    z-index: 100;
    width: 14px;
    height: 14px;
    border: 2px solid $inactive-blue;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;

}

.dropdown.active::before {
    transform: rotate(-225deg);
    top: 28px;
}

.dropdown.active {
    .option {
        display: block;
    }
}

.next-button {
    display: none;
    margin: 12px auto 0 auto;
    width: 110px;
    color: $white;
}

.next-button.active {
    display: block;
}

.next-button.nonactive {
    display: none;
}

.vector-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -100;
}