.page05 {
    // margin-top: 133px;
    margin-top: 26vh;
}

.done-title {
    margin-top: 16px;
    text-align: center;
    color: $main-color;
}

.done {
    width: 259px;
    margin: 12px auto 0 auto;
}

.done-subtitle {
    text-align: center;
    color: $second-color;
    word-wrap: break-word;
    a {
        color: #37B5F9;
    }
}