.page07 {
    // margin-top: 202px;
    margin-top: 35vh;
}

.name-title {
    margin-bottom: 8px;
    text-align: center;
    color: $main-color;
}

.description-subtitle {
    text-align: center;
    margin-top: 16px;
    padding: 0 20px;
    color: $second-color;
    padding: 0 33px;
}
